{% extends "base.html" %}

{% block title %}
	{{ block.super }} – {{ qst.id }} 
{% endblock %}

{% block header %}{{ qst }}{% endblock %}

{% block content %}
	{% include "qst_item.html" %}
	{% for answer in answers %}
		<div>
			<h3>Answer<h3>
			<p>{{ answer.text }}</p>
		</div>
	{% endfor %}
	<form method="POST" action="/answer/">
		<fieldset>
			{% for field in form %}
				<div {% if field.errors %}style="background-color: red;"{% endif %}>
					<label>{{ field.label }}</label>
					<div>{{ field }}</div>
				</div>
			{% endfor %}
		</fieldset>
		<div><button type="submit">Answer it!</button></div>
		{% csrf_token %}
	</form>
{% endblock %}
